.header {
  display: flex;
  justify-content: center;
  margin-top: 2.5vh;
  margin-bottom: 2vh;
}

.header_items {
  display: flex;
  gap: 2rem;
}

.header_item {
  display: flex;
}

.header_url {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 800;
}

.header_seperator {
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .header h1 {
    font-size: 2rem;
  }

  .header_url {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .header h1 {
    font-size: 1rem;
  }
}
