.header {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
    margin-bottom: 2vh;
}

.header_items {
    display: flex;
    gap: 2vh;
}

.header_item {
    display: flex;
}

.header_url {
    color: #fe8b91;
    font-weight: bold;
}

.header_seperator {
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    .header_items {
        gap: 0;
    }

    .header h1 {
        font-size: 1.8rem;
    }
}