* {
  margin: 0;
}

html, body, #__next, .app {
	background-color: #ffcccc;
  height: 100%;
}

ul {
	font-family: 'VT323', monospace;
}

a {
	font-family: 'VT323', monospace;
	color: #4f0099;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
	font-family: 'VT323', monospace;
	color: #1a0033;

  font-size: 1.5rem;
}

h1 {
	font-family: 'VT323', monospace;
	color: #1a0033;
}

h2 {
	font-family: 'VT323', monospace;
	color: #1a0033;
  font-size: 1.4rem;
}

.header-item {
  display: flex;
  gap: 1%;
}

.header-items {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2%;

  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.app {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.home {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.blurb {
  margin-bottom: 2.5%;
}

.resume {
  width: 90%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;
}

.resume iframe {
  border: none;
  overflow: hidden;
}

.blog-post {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 2.5vh;
}

.blog-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

subtext {
  font-family: 'VT323', monospace;
  color: #302c34;
  font-style: italic;
  font-size: 1.3rem;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

@media screen and (max-width: 850px) {
  .home {
    width: 90%;
  }

  .blurb {
    margin-bottom: 10%;
  }

  .blog-post {
    width: 90%;
  }
}

pre {
  padding: 1.5%;
  background: rgb(6, 6, 6);
  border-radius: 6px;

  color: white;

  margin-top: 1%;
}