* {
  margin: 0;
}

html, body, #__next, .app {
	background-color: #ffcccc;
  height: 100%;
}

ul {
	font-family: 'VT323', monospace;
}

a {
	font-family: 'VT323', monospace;
	color: #4f0099;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
	font-family: 'VT323', monospace;
	color: #1a0033;

  font-size: 1.5rem;
}

h1 {
	font-family: 'VT323', monospace;
	color: #1a0033;
}

h2 {
	font-family: 'VT323', monospace;
	color: #1a0033;
  font-size: 1.4rem;
}

.header-item {
  display: flex;
  gap: 1%;
}

.header-items {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2%;

  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.app {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.home {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.blurb {
  margin-bottom: 2.5%;
}

.resume {
  width: 90%;
  height: 80%;
  overflow: hidden;
  border-radius: 10px;
}

.resume iframe {
  border: none;
  overflow: hidden;
}

@media screen and (max-width: 800px) {
    .home {
      width: 90%;
    }

    .blurb {
      margin-bottom: 10%;
    }
}