.tools_container {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 2vh;
}

.tool_item p {
    text-indent: 2vw;
}

@media screen and (max-width: 600px) {
    .tool_item p {
        text-indent: 0;
        font-size: 1rem;
    }

    .tool_item h1 {
        font-size: 1.4rem;
    }
}