.blog_post {
  display: flex;
  align-items: center;
  flex-direction: column;

  border-top: 7px dashed white;
  padding-top: 1vh;
  flex: 1;
}

.blog_post img {
  margin-top: 16px;
  margin-bottom: 16px;
}

.blog_header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_title_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog_title {
  color: #ffffff;
}

.blog_subtitle {
  color: #dbdbdb;
  font-style: italic;
  font-size: 1.2rem;

  margin-bottom: 2vh;
}

/* Blog Post Styling */

.blog_content {
  width: 80%;
}

.blog_content p {
  margin-bottom: 1vh;
}

.blog_content h1 {
  margin-bottom: 1vh;
}

.blog_content code {
  font-size: 1.3rem;
}

.blog_content div_space {
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.blog_content aside {
  padding: 1vw;
  background: #c5bea0;
  color: black;
  border-radius: 5px;
  display: flex;
  gap: 1vw;
}

.aside_image img {
  width: 200px;
  height: 200px;
}

.blog_content nocode {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: rgb(40, 40, 40);
  color: rgb(235, 219, 178);
  margin-top: 2vh;
  margin-bottom: 2vh;
}

.blog_content pre {
  white-space: pre-wrap;
}

/* https://codepen.io/alvarotrigo/pen/PoKMyNO */
.blog_content highlight h1 {
  background-image: linear-gradient(90deg, #efe2ca 0%, #d5baa2 50%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 5s ease-in infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.blog_content asmor img {
  width: 20vw;
  height: auto;
}

.blog_content asmor {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .blog_title {
    font-size: 1.6rem;
  }

  .blog_content {
    width: 95%;
  }

  .blog_subtitle {
    font-size: 0.8rem;
  }

  .blog_content h1 {
    font-size: 1.4rem;
  }

  .blog_content p {
    font-size: 0.8rem;
  }

  .blog_content code {
    font-size: 0.8rem;
  }
}
