.footer {
    display: flex;
    margin-top: 2vh;
    padding-bottom: 2vh;

    flex-direction: column-reverse;
    align-items: center;
}

.footer_items {
    display: flex;
    gap: 2vw;
}

.footer a {
    color: gray;
}

@media screen and (max-width: 1000px) {
    .footer p {
        font-size: .8rem;
    }
}

@media screen and (max-width: 800px) {
    .footer p {
        font-size: .5rem;
    }
}