.home {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 100%;
  align-items: center;
  flex: 1;
}

.blurbs {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vh;
}

.name {
  color: pink;
}

.pfp {
  will-change: transform;

  box-shadow: 2px black;
  display: flex;
  justify-content: center;
  margin: 2vh;
}

.pfp img {
  will-change: transform;

  border-radius: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: transform 300ms;

  border: 8px solid rgb(106, 114, 150);

  width: 200px;
  height: 200px;
}

.pfp img:hover {
  transform: rotate(10deg);
}

.blurb {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
}

.blurb {
  will-change: transform;

  background-color: #2a272de2;
  padding: 1vw;
  border-radius: 7px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  transition: transform 200ms;
}

@media screen and (max-width: 800px) {
  .blurb {
    width: 100%;
  }

  .home {
    align-items: center;
  }

  .blurb {
    padding: 2vw;
  }
}
