.posts {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 2vh;
  flex: 1;
}

.post {
  width: 80%;
  display: flex;
  justify-content: space-between;

  background-color: #252228;

  border-radius: 5px;
  padding: 1vw;

  box-shadow: 5px 6px 47px 0px rgba(18, 17, 17, 0.75);

  transition: transform 1s;
}

.post p {
  text-indent: 2vw;
  text-decoration: none;
}

.post:hover {
  cursor: pointer;
  background-color: #1c1820;
}

.post h1 {
  font-size: 2rem;
}

.post_date {
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  .post {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vw;
  }

  .posts {
    gap: 5vh;
  }

  .post p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .posts h1 {
    font-size: 1rem;
  }
}
