.resume_container {
  height: 80%;
  display: flex;

  justify-content: center;

  transition: all 300ms;
}

.resume_container:hover {
  transform: translateY(-1vh);
}

.resume {
  width: 80%;

  border: none;
  overflow: hidden;
}
